In [75]:
import numpy as np
import pandas as pd
from sklearn import linear_model
import math

In [76]:
df = pd.read_csv('/content/homeprice.csv')
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [77]:
median_bedrooms = math.floor(df.bedrooms.median())
median_bedrooms

3

In [78]:
df.bedrooms = df.bedrooms.fillna(median_bedrooms)
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       3.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [79]:
reg = linear_model.LinearRegression()
reg.fit(df[['area','bedrooms','age']],df.price)

LinearRegression()

In [80]:
reg.coef_

array([   137.25, -26025.  ,  -6825.  ])

In [81]:
reg.intercept_

383724.99999999994

In [ ]:
reg.predict([[3000,3,40]])

In [17]:
(137.25*3000+-26025*3+ -6825*40)+383724.99999999994

444399.99999999994

In [ ]:
reg.predict([[2500,4,5]])

# This part is for practice problem

In [ ]:
#!pip install word2number

In [26]:
from word2number import w2n

In [71]:
hire = pd.read_csv('/content/hiring.csv')
hire

  experience  test_score  interview_score  salary
0        NaN         8.0                9   50000
1        NaN         8.0                6   45000
2       five         6.0                7   60000
3        two        10.0               10   65000
4      seven         9.0                6   70000
5      three         7.0               10   62000
6        ten         NaN                7   72000
7     eleven         7.0                8   80000

In [72]:
# first make NaN value into zero
hire.experience = hire.experience.fillna('zero')

# make the collumn string, because w2n supports only string collumn
hire["experience"] = hire.experience.astype(str)

# make word to number
hire.experience = hire.experience.apply(w2n.word_to_num)

# make median value for fill NaN value
test_score_median = math.floor(hire.test_score.median())
hire.test_score = hire.test_score.fillna(test_score_median)

hire

   experience  test_score  interview_score  salary
0           0         8.0                9   50000
1           0         8.0                6   45000
2           5         6.0                7   60000
3           2        10.0               10   65000
4           7         9.0                6   70000
5           3         7.0               10   62000
6          10         8.0                7   72000
7          11         7.0                8   80000

In [ ]:
salary = linear_model.LinearRegression()
salary.fit(hire[['experience','test_score','interview_score']],hire.salary)

In [ ]:
a = salary.predict([[2,9,6]])
b = salary.predict([[12,10,10]])
a,b